@import "./setting.scss";

section.keynote-slide {
  
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;

  .content {
    position: relative;
    width: $content-width;
    height: $content-height;
    margin: auto;
  }
}
