@import "./setting.scss";
@import "./content.scss";

.keynote__container {
  position: absolute;

  transition: all 1s ease-in-out;
}

.keynote__slide {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

