@import "./setting.scss";

.keynote__container {
  position: absolute;
}

.keynote__slide {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.keynote__content {
  width: $content-width;
  height: $content-height;
}